<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>517379302378-jjfloe6iu47kcruk4jkrnod8g7tethi2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.517379302378-jjfloe6iu47kcruk4jkrnod8g7tethi2</string>
	<key>API_KEY</key>
	<string>AIzaSyCJ7xDDmRjY_BZex67tUxgf8lur1V0uVU4</string>
	<key>GCM_SENDER_ID</key>
	<string>517379302378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-900bf</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-900bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517379302378:ios:90f861dc4e5a23e4514893</string>
</dict>
</plist>